nmap-parser-web/src/wsdl/localhost_8080/NmapParserAPIService/NmapParserAPI.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://api.nmapparser.nmap.security.no/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://api.nmapparser.nmap.security.no/">

<xs:element name="storeScan" type="tns:storeScan"></xs:element>

<xs:element name="storeScanResponse" type="tns:storeScanResponse"></xs:element>

<xs:complexType name="storeScan">
<xs:sequence>
<xs:element name="arg0" type="tns:nmapScan" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nmapScan">
<xs:sequence>
<xs:element name="args" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="elapsed" type="xs:double"></xs:element>
<xs:element name="hostList" type="tns:host" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="time" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="host">
<xs:sequence>
<xs:element name="addressList" type="tns:hostAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="databaseId" type="xs:int"></xs:element>
<xs:element name="portList" type="tns:port" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="reason" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="state" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hostAddress">
<xs:sequence>
<xs:element name="addr" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="addrtype" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="vendor" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="port">
<xs:sequence>
<xs:element name="method" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="portid" type="xs:int"></xs:element>
<xs:element name="protocol" type="tns:protocol" minOccurs="0"></xs:element>
<xs:element name="reason" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="reason_ttl" type="xs:int"></xs:element>
<xs:element name="service" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="state" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeScanResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="protocol">
<xs:restriction base="xs:string">
<xs:enumeration value="TCP"></xs:enumeration>
<xs:enumeration value="UDP"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>